<div class="universite-content">
<div class="">
    <div class="card-body">
      <div class="container">
        <div class="container">
          <h2>List of Universities <small>by amine hamed</small></h2>
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">#</div>
              <div class="col col-2">Name</div>
              <div class="col col-3">Address</div>
              <div class="col col-4">Actions</div>
             
            </li>
        
            <li class="table-row" *ngFor="let university of universities">
              <div class="col col-1" data-label="id">{{ university.idUniversite }}</div>
              <div class="col col-2" data-label="universite Name">{{ university.nomUniversite }}</div>
              <div class="col col-3" data-label="address">{{ university.adresse }}</div>
              <div class="col col-4" data-label="actions">
                <button (click)="updateUniversity(university)"  style="margin-right: 15px;">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button (click)="deleteUniversity(university.idUniversite, university.nomUniversite)" style="margin-right: 15px;">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                
                <button (click)="showDetails(university)" style="margin-right: 15px;">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
              </div>
            
            </li>
          </ul>
        </div>
        

    </div>
  </div>
  <app-unidetails *ngIf="selectedUniversity" [university]="selectedUniversity"></app-unidetails>
</div>